.main {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #032541;
    max-height: 420px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 7px 7px 10px 3px #24004628;
  }
  
  .login-page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 24px;
  }
  
  /*checkbox to switch from sign up to login*/
  #chk {
    display: none;
  }
  
  /*Login*/
  .login {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .login label {
    margin: 25% 0 5%;
  }
  
  label {
    color: #fff;
    font-size: 2rem;
    justify-content: center;
    display: flex;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
  }
  
  .input {
    width: 100%;
    height: 40px;
    background: #e0dede;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 4px;
  }
  
  /*Register*/
  .register {
    background: #eee;
    border-radius: 60% / 10%;
    transform: translateY(1%);
    transition: .8s ease-in-out;
  }
  
  .register label {
    color: #032541;
    transform: scale(.6);
  }
  
  #chk:checked ~ .register {
    transform: translateY(-60%);
  }
  
  #chk:checked ~ .register label {
    transform: scale(1);
    margin: 10% 0 5%;
  }
  
  #chk:checked ~ .login label {
    transform: scale(.6);
    margin: 5% 0 5%;
  }   
  /*Button*/
  .form button {
    width: 85%;
    height: 40px;
    margin: 12px auto 10%;
    color: #303030;
    background: #2dbbd0;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s ease-in;
  }
  
  .form button:hover {
    background-color: #88cca5;
    color: white;
  }

  .error{
    color: red;
    text-align: center;
    position: absolute;
    left: 2rem;
  }

  .success{
    color: green;
    text-align: center;
    position: absolute;
    right: 2.5rem;
    z-index: 999;
    text-transform: capitalize;
    padding: 1px;
    border-radius: 15px/5px;
  }