.navbar {
  background: #032541;
  color: #fdfdfd;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
}
.navbar ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin-top: 15px;
}
.navbar .logo {
  height: 56px;
  width: 160px;
}
.navbar li {
  cursor: pointer;
}

.right-nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.left-nav {
  flex: 1 0 35%;
  display: flex;
}

.search-icon {
  font-size: 1.2rem;
  margin: 1.2rem;
  color: #01b4e4;
  cursor: pointer;
}

.close-icon {
  font-size: 1.3rem;
  transform: scale(1.3);
  margin: 1.2rem;
  color: #01b4e4;
  cursor: pointer;
}

.input {
  width: 0%;
  max-height: 100%;
  background-color: rgba(255, 255, 255, 0.4549019608);
  outline: none;
  padding: 20px 70px;
  border: none;
}

.open {
  width: 100%;
  transition: 0.4s ease-in-out;
}

.close {
  display: none;
  transition: 0.6s ease-in-out;
}

.circle {
  width: 30px;
  height: 30px;
  transform: scale(1);
  background: #805be7;
  padding: 3px;
  text-align: center;
  border-radius: 50%;
  margin: 1rem;
}

.notif {
  font-size: 1.4rem;
  margin: 1rem;
  color: #fff;
}

.btn {
  width: 30px;
  height: 30px;
  padding: 3px;
  font-size: 12px;
  background-color: red;
  color: #fff;
  background: #032541;
  border: 1px solid #fff;
  transform: scale(1);
  margin: 1rem;
}

.plus-icon {
  font-size: 1.4rem;
  margin: 1rem;
  color: #fff;
  font-weight: 700;
}

.mobile-nav {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: #032541;
}

.nav-items {
  background: #032541;
  height: 100vh;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  color: #fff;
  left: -100%;
  position: fixed;
  left: -100%;
  padding: 1rem;
  background: #032541;
  z-index: 999;
  transition: 850ms;
}
.nav-items li {
  padding: 2rem;
  list-style: none;
  font-size: 1.2rem;
}
.nav-items ul {
  position: relative;
  bottom: 15rem;
  right: 5rem;
}

.active-menu {
  font-size: 2.2rem;
  color: rgb(255, 254, 254);
  cursor: pointer;
}

.nav-items.active {
  left: 0;
  transition: 350ms;
}

@media only screen and (max-width: 768px) {
  .mobile-nav {
    display: flex;
  }
  .navbar {
    display: none;
  }
}
.search-box {
  position: relative;
}

.search-box input {
  padding-right: 30px;
}

.FaSearch {
  position: absolute;
  top: 50%;
  right: 66px;
  transform: translateY(-50%);
  cursor: pointer;
}

.FaSearch-close {
  display: none;
}

.landing {
  background: linear-gradient(rgba(0, 74, 108, 0.568627451), rgba(0, 74, 108, 0.4823529412)), url(../assets/bg2.jpg);
  background-size: cover;
  height: 40vh;
  min-height: 300px;
  max-height: 360px;
  background-position-y: -55px;
  padding: 3rem;
}
.landing h1 {
  color: #fff;
}
.landing h3 {
  color: #fff;
  margin-top: 1rem;
}

.search-input {
  width: 100%;
  margin-top: 3rem;
  position: relative;
}
.search-input .search-bar {
  width: 100%;
  height: 46px;
  padding: 1.2rem;
  border-radius: 40px;
  outline: none;
  border: none;
}
.search-input .search-submit {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 46px;
  padding: 10px 26px;
  border: none;
  border-radius: 30px;
  position: absolute;
  top: 0;
  right: -1px;
  color: #fff;
  background: linear-gradient(to right, #1bd2af, #04b8dc);
}
.search-input .search-submit:hover {
  color: #090909;
}

@media only screen and (max-width: 768px) {
  .search-input {
    font-size: 1rem;
    margin-top: 3rem;
  }
  .search-input input {
    font-size: 14px;
  }
  .landing {
    text-align: center;
    background-position-y: -1px;
    background-position-x: -5rem;
  }
  .landing h1 {
    font-size: 2rem;
  }
  .landing h3 {
    font-size: 1.3rem;
  }
}/*# sourceMappingURL=MainPage.css.map */